body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

header>h1 {
    margin: 0 auto;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    min-width: 300px;
}